main {
  width: 680px;
  margin: 0 auto;
}

#outerWrapper {
  margin-top: 150px;
}

#mainTitle {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

#loginGuide {
  display: inline;
  font-size: 20px;
  font-weight: 700;
}

#guideDiv {
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
}

#whiteLine {
  color: rgba(223, 230, 233, 0.4);
}

#joinWrapper {
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}

#joinWrapper button {
  border: 2px solid #0984e3;
  border-radius: 15px;
  width: 300px;
  min-height: 35px;
  font-weight: 700;
  font-size: 1.1em;
}

#joinWrapper button:hover {
  border: 2px solid black;
  background-color: #dfe6e9;
}

#loginWrapper {
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}

#loginWrapper button {
  border: 2px solid #0984e3;
  border-radius: 15px;
  width: 300px;
  min-height: 35px;
  font-weight: 700;
  font-size: 1.1em;
}

#loginWrapper button:hover {
  border: 2px solid black;
  background-color: #dfe6e9;
}
